.map-container {
  height: 100%;
  width: 100%;
}

.MuiLinearProgress-root {
  height: 7px;
}

.MuiAlert-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1200px) {
    .MuiContainer-root {
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.result-card-content {
    padding: 0 !important;
    width: 100%;
}